<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>Operations</title>
</head>
<body>
<div class="container p-5 overflow-hidden">
    <h1 class="h3 mb-5 fw-normal text-center">Operations</h1>
    <div class="container w-25">
        <form th:action="@{/{cardId}/balance(cardId=${#authentication.getPrincipal().getUsername()})}">
            <button type="submit" class="btn btn-lg btn-success w-100 mt-2">
                Check Balance
            </button>
        </form>
        <form action="withdrawal.html" th:action="@{/{cardId}/withdrawal(cardId=${#authentication.getPrincipal().getUsername()})}">
            <button type="submit" class="btn btn-lg btn-info w-100 mt-2">
                Withdraw Cash
            </button>
        </form>
        <form th:action="@{/logout}">
            <button type="submit" class="btn btn-lg btn-danger w-100 mt-2">Log Out</button>
        </form>
    </div>
</div>
</body>
</html>
